<% provide(:title, "About") %>

<h1 class="page-title"> About </h1>
<p> <b>Project under: </b>The
  <a href= " http://www.railstutorial.org/ " ><em> Ruby on Rails Tutorial: </em></a>
  A
  <a href= " http://www.railstutorial.org/book " > book </a>
  and <a href= "http://screencasts.railstutorial.org/" > screencast tutorial.</a>
</p>