<% provide(:title, "Contact")  %>

<h1 class="page-title">Contact</h1>

<h2>Shreenath Tewari</h2>
<br>

<ul class="contact-list">
  <li>
    <h4>Mobile: </h4>
    <h5>9840375894/9474830172</h5>
  </li>
  <li>
    <h4>
      Blogs:
      <h5>
        <li><%= link_to "Personal", "https://tewarishreenath.wordpress.com/" %></li>
        <li><%= link_to "Passion", "https://humanwarblog.wordpress.com/" %></li>
      </h5>
    </h4>
  </li>
</ul>
