@import "bootstrap-sprockets";
@import "bootstrap";

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.rails-img {
  padding: 10px;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

h1, h2, h3, h4 {
  line-height: 1px;
}

.home-title {
  letter-spacing: -2px;
  padding: 30px;
}

.home-body {
  letter-spacing: -2px;
  padding: 30px;
}