@import "bootstrap-sprockets";
@import "bootstrap";

.page-title {
  text-align: center;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* h1, h2, h3, h4 {
  line-height: 1px;
}

.home-title {
  letter-spacing: -2px;
  padding: 30px;
}

.home-body {
  letter-spacing: -2px;
  padding: 30px;
}*/

.contact-list {
  list-style: none;
}

.footer {
  color: #7f8c8d;
  margin-top: 20px;
}

.footer ul {
  float: right;
  list-style: none;
}

.footer ul li {
  float: left;
  margin-left: 15px;
}

