<header class="navbar navbar-fixed navbar-inverse">
  <div class="container">
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", static_pages_home_path %></li>
        <li><%= link_to "Help", static_pages_help_path %></li>
        <li><%= link_to "About", static_pages_about_path %></li>
      </ul>
    </nav>
  </div>
</header>